<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

</head>
<body class="container">

<div th:if="${carList.empty}">
    <span class="text-info">No Cars Available</span>
</div>
<ul>
    <li th:each="car : ${carList}">
        <a th:href="@{/cars/{car-id}(car-id=${car.id})}">
            <span th:text="${car.model}"> Model </span>
            <span th:text="${car.cost}"> Cost</span>
        </a>
        <a th:href="@{/profile/{id}(id=${car.owner.id})}">
            <span th:text="${car.owner.firstName} + ' ' + ${car.owner.lastName}"> Owner </span>
        </a>
    </li>
</ul>


<!--<div class="item_line" th:each="car : ${carList}">-->
<!--    <div class="item_photo">-->
<!--        <a th:href="@{/cars/{car-id}(car-id=${car.id})}">-->
<!--            <img alt="..." class="card-img-top" th:height="156"-->
<!--                 th:src="@{/files/{id}(id=${car.fileList.get(0).storageFileName})}" th:width="208" src="">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="description">-->
<!--        <div class="title-row">-->
<!--            <a th:href="@{/cars/{car-id}(car-id=${car.id})}">-->
<!--                <div class="card-title" th:text="${car.model}"> Model</div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="cost-row">-->
<!--            <span th:text="${car.cost}"> Cost </span>-->
<!--        </div>-->
<!--        <div class="owner-row">-->
<!--            <a th:href="@{/profile/{id}(id=${car.owner.id})}">-->
<!--                    <span th:text="${car.owner.firstName + ' ' + car.owner.lastName}">-->
<!--                        Owner-->
<!--                    </span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>